<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Netflix clone</title>
  </head>
  <body>

    <!-- container app -->
    <div id="app">

      <!-- header logo and research movie -->
      <header>
        <div class="logo-app">

          <img src="" alt="">

        </div>

        <div class="research-text-movie">
            <input type="text" name="text" v-model="inputSearch" placeholder="">
            <button type="button" name="button" @click="search()">SEARCH</button>
        </div>


      </header>

      <!-- main selection movie and tv -->
      <main>

        <div v-for="item in arrayMovieTv">

          <div class="item.type === movie">

            <!-- titolo -->
            <div>{{item.title}}</div>

            <!-- original titolo -->
            <div>{{item.original_title}} </div>


          </div>
          <div class="item.type === tv">

            <!-- titolo -->
            <div>{{item.name}}</div>

            <!-- original titolo -->
            <div>{{item.name}} </div>


          </div>
          <!-- bandiera della lingua  -->
          <div class="flag-language">
              <img :src="'img/' + item.original_language + '.svg'">
          </div>
          <!-- stelle per la valutazione -->
          <div class="stars">

            <i :class="{yellow: item.vote_average > 1}" class="fas fa-star"></i>
            <i :class="{yellow: item.vote_average > 2}" class="fas fa-star"></i>
            <i :class="{yellow: item.vote_average > 4}" class="fas fa-star"></i>
            <i :class="{yellow: item.vote_average > 6}" class="fas fa-star"></i>
            <i :class="{yellow: item.vote_average > 8}" class="fas fa-star"></i>

          </div>

        </div>

      </main>





    </div>



    <script src="js/script.js"></script>
  </body>
</html>
